*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #F6F8F9;
}

header{
  background-color: white;
}

#logo{
  display: inline-block;
  vertical-align: middle;
}

#title{
  font-size: 30px;;
  font-weight: bold;
  /* padding-top: 20px; */
  line-height: 50px;
}

.container{
  background-color: white;
  width: 1000px;
  height: 500px;
  margin: 50px auto;
}


.button-box{
  margin: 15px 50px;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
}

#button1{
  background-color: #47ADF1;
  color: white;
  border: 0;
}

#button2{
  background-color: white;
  color: grey;
  border: 1px solid grey;
  margin: -50px;
}

.button{
  border-bottom: 3px solid #F6F8F9;
}


.list-box{
  margin: 25px 50px;
}

.title-box:before{
  content:"\23F7";
}

.title-box{
font-weight: bold;
font-size: 15px;
color: darkslategrey;
display: block;
margin-bottom: 7px;
}

.check:before{
  content: "\01F5F8";
  color: green;
  background-color:white;
  padding: 0 2px;
  border: 1px solid green;
  border-radius: 50%;
  margin-right: 8px;
}


.no-check:before{
  content: "\02717";
  font-size: 10px;
  color: red;
  background-color:white;
  padding: 2px 3px;
  border: 1px solid red;
  border-radius: 50%;
  margin-right: 8px;
}

.check, .no-check {
  font-size: 12px;
}

li{
  margin-bottom: 15px ;
}

ul {
  list-style-type: none;
  }

.button-box-span{
  padding: 5px 7px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 6px;
  color: white;
  /* display: block; */
}

#button-blu{
  background-color: #47ADF1;
}

#button-violet{
background-color: #9C72E4 ;
}

#button-green{
  background-color:#64C0A9;
}

#button-orange{
  background-color: #F29E33;
}

#button-pink{
  background-color:#DB6CA7 ;
}

#button-yellow{
  background-color: #ADC71C;
}
